@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-products-container{
    display: grid;
    grid-template-columns: 15% 85%;
}

.add-cart-text {
    opacity: 0;
}

.card:hover .add-cart-text{
    opacity: 1;
}